<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279080458713-7pk4bb4svdl41vdgi8t1mpq6tlss3stn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279080458713-7pk4bb4svdl41vdgi8t1mpq6tlss3stn</string>
	<key>API_KEY</key>
	<string>AIzaSyBxRLimHHvK8lsxrrW1LBYgZdqS4zx1D2w</string>
	<key>GCM_SENDER_ID</key>
	<string>279080458713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.EkamGhai</string>
	<key>PROJECT_ID</key>
	<string>wwp-hacks-project</string>
	<key>STORAGE_BUCKET</key>
	<string>wwp-hacks-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279080458713:ios:da7f92194c9d312701e1c8</string>
</dict>
</plist>